<div class="container-fluid bg-primary">
  <h4 class="dropdown"><span class="dropdown-toggle glyphicon glyphicon-menu-hamburger"
      data-toggle="dropdown" (click)="selected()"></span> &nbsp;Account
    <ul class="dropdown-menu">
      <app-menu></app-menu>
    </ul>
  </h4>
</div>
   
<div class="container-fluid">
  <div class="row text-center" *ngIf="user && !uploadImage">
    <img *ngIf="user.avatar" [src]="user.avatar" alt="avatar">
    <img *ngIf="!user.avatar" src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
    <h2 class="username">{{ user.username }}</h2>
    <p>{{ user.email }}</p>
  </div>
</div>

<div class="container btn-options" *ngIf="user">
  <button class="btn btn-success btn-block" type="button"
          (click)="updateUsername()" *ngIf="!hideNameBtn">
      Change Username
  </button>
  <button class="btn btn-success btn-block" type="button"
          (click)="updateEmail()" *ngIf="!hideEmailBtn">
      Change Email
  </button>
  <button class="btn btn-success btn-block" type="button"
          (click)="updatePassword()" *ngIf="!hidePasswordBtn">
      Change Password
  </button>
  <button class="btn btn-success btn-block" type="button"
          (click)="updateImage()" *ngIf="!hideImageBtn">
      Upload User's avatar
  </button>  
  <button class="btn btn-danger btn-block" type="button"
          routerLink="/schedule" *ngIf="!showInput">
      Return to Schedule
  </button>  

</div>

<div class="container input-form" *ngIf="showInput">
  <div class="input-field" [ngClass]="{ hideBtns: hideNameBtn || !showInput }">
    <label for="username">Username</label>
    <input type="text" class="form-control" [(ngModel)]="username">
  </div>

  <div class="input-field" [ngClass]="{ hideBtns: hideEmailBtn || !showInput }">
    <label for="email">Email</label>
    <input type="email" class="form-control" [(ngModel)]="email">
  </div>

  <div class="input-field" [ngClass]="{ hideBtns: hidePasswordBtn || !showInput }">

  </div>

  <div class="row container" [ngClass]="{ hideBtns: !showInput }">
    <div class="col-xs-6">
      <button class="btn btn-default btn-block" type="button" (click)="resetBtns(false)">
          Cancel
      </button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-default btn-block" type="button" (click)="onSubmit()">
          Submit
      </button>
    </div>
  </div>  
</div>

<div class="container message">
  <span *ngIf="errMessage">{{ errMessage }}</span>
</div>
