h4 {
  float: left;
  padding-bottom: 1px;
}

button {
  float: right;
  margin-top: 10px;
}

.body {
  padding-bottom: 80px;
}

p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

ul {
  list-style: none;
}

li {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  font-size: 16px;
}