<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-xs-4">
        <h4 class="dropdown"><span class="dropdown-toggle glyphicon glyphicon-menu-hamburger"
            data-toggle="dropdown" (click)="selected()"></span> &nbsp;Schedule
          <ul class="dropdown-menu">
            <app-menu></app-menu>
          </ul>
        </h4>
      </div>
      <div class="options col-xs-8 text-center">
        <p>All</p>
        <p>Track</p>
        <p>Favorites</p>
        <p>Filter<span class="glyphicon glyphicon-filter"></span></p>
      </div>
    </div>
  </div>
  <div class="row search">
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-search" id="search"></span>
    </div>
    <div class="col-xs-10">
      <input type="text" class="form-control" placeholder="search">
    </div>
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-remove" id="remove"></span>
    </div>
  </div>
</nav>

<div class="container-fluid" id="body">
  <h3>Schedule List</h3>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <h3>Schedule List</h3>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <h3>Schedule List</h3>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <h3>Schedule List</h3>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <h3>Schedule List</h3>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>

  <div class="container-1">
    <div class="fabs-1" *ngIf="activeFabs1">
      <button (click)="openPeriod=true">New</button>
      <p>{{ dateFrom }}</p>
      <p>{{ dateTo }}</p>
    </div>
    <a class="btn button-0 bg-primary" *ngIf="!activeFabs1" (click)="activeFabs1=true">Period</a>
    <a class="btn button-0 bg-primary" *ngIf="activeFabs1" (click)="activeFabs1=false">X</a>
  </div>

  <div class="container-2"  > 
    <div class="fabs-2" *ngIf="activeFabs2">
      <a href="#" class="btn button-1"><i class="fab fa-google-plus-g"></i></a>
      <a href="#" class="btn button-2"><i class="fab fa-twitter"></i></a>
      <a href="#" class="btn button-3"><i class="fab fa-facebook-f"></i></a>
    </div>
    <a class="btn button-0 bg-primary" (click)="activeFabs2=!activeFabs2"><i class="fas fa-share-alt"></i></a>
  </div>  
</div>

<app-period *ngIf="openPeriod"
            (submitPeriod)="getNewPeriod($event)"
            (exitPeriod)="closePeriod()"
            [dateFrom]="dateFrom"
            [dateTo]="dateTo"></app-period>

<app-tabs [selected]="'schedule'"></app-tabs>

