/* Navigartin bar */
.navbar {
  background-color: white;
  border: none;
  border-bottom: 1px solid lightgray;
  box-shadow: 2px 3px 0px 0px rgba(114, 114, 116, 0.2);
}

.dropdown-menu {
  width: 200px;
}

h4 {
  color: orange;
}

h4 span {
  color: white;
}

.options {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

.option {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 14px;
}

.option:hover {
  color: yellowgreen;
}

/* Search bar */
.search span {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#search {
  margin: 8px 0 0px 10px;
}

#remove {
  margin: 8px 0 0px -20px;
}

.search {
  margin: 3px 0 3px 0;
}

.search input {
  box-shadow: 3px 3px 0px 0px rgba(114, 114, 116, 0.2);
  margin-bottom: 3px;
}

/* body of schedule */
#body {
  margin: 90px 0 0 0;
  padding-bottom: 125px;
}

#body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.group-header {
  margin-top: 5px;
  padding: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
  color: rgb(87, 199, 243);
}

.item-group {
  border-bottom: 1px solid lightgray;
  margin-top: 5px;
  padding-left: 10px;
}

.item-group p {
  margin: 0 0 5px 0;
}

/* Floating Action Buttons */
.container-1 {
  position: fixed;
  margin: 1em;
  bottom: 55px;
  left: 0;
}

.container-1 a {
  float: left;
  font-size: 14px;
  padding: 15px 0px 0 0;
  color: white
}

.fabs-1 {
  text-align: center;
  margin-bottom: 10px;
}

.fabs-1 p, .fabs-1 button {
  background: rgb(93, 201, 243);
  color: white;
  padding: 5px 10px;
  margin: 8px 0 0 0;
  font-weight: 400;
  border-radius: 5px;
  outline: none;
}

.container-2 {
  position: fixed;
  margin: 1em;
  bottom: 55px;
  right: 0;
}

.fabs-2 {
  margin-bottom: 10px;
}

.btn {
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  margin: 10px auto 0;
  outline: none;
  position: relative;
  background-size: contain;
  font-size: 20px;
  /* box-shadow: 2px 2px 0px 0px rgba(114, 114, 116, 0.2); */
}

.fabs-2 .btn {
  width: 40px;
  height: 40px;
  margin: 20px auto 0;
  background: rgb(93, 201, 243);
  margin: 15px auto 0;
}

.fabs-2 i {
  color: white;
}

.button-0 {
  background-size: contain;
  margin: auto;
}

.button-0 i {
  font-size: 25px;
  margin-top: 8px;
  color: white
}
