<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-xs-4">
        <h4 class="dropdown"><span class="dropdown-toggle glyphicon glyphicon-menu-hamburger"
            data-toggle="dropdown" (click)="selected('menu bar')"></span> &nbsp;Schedule
          <ul class="dropdown-menu">
            <app-menu></app-menu>
          </ul>
        </h4>
      </div>
      <div class="options col-xs-8 text-center">
        <p>All</p>
        <p>Track</p>
        <p>Favorites</p>
        <p>Filter<span class="glyphicon glyphicon-filter"></span></p>
      </div>
    </div>
  </div>
  <div class="row search">
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-search" id="search"></span>
    </div>
    <div class="col-xs-10">
      <input type="text" class="form-control" placeholder="search">
    </div>
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-remove" id="remove"></span>
    </div>
  </div>
</nav>

<div class="container-fluid" id="body">
  <h3>Schedule List</h3>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <h3>Schedule List</h3>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <h3>Schedule List</h3>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <h3>Schedule List</h3>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <h3>Schedule List</h3>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
  <p>Schedule List glyphicon glyphicon-filter</p>
</div>

<app-tabs [selected]="'schedule'"></app-tabs>