<nav class="navbar navbar-inverse fixed-top" [hidden]="!openScheduleList">
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-xs-4">
        <h4 class="dropdown"><span class="dropdown-toggle glyphicon glyphicon-menu-hamburger"
            data-toggle="dropdown"></span> &nbsp;Schedule
          <ul class="dropdown-menu">
            <app-menu></app-menu>
          </ul>
        </h4>
      </div>
      <ul class="options col-xs-8 text-center">
        <li><a class="option" (click)="processByOption('all')">A l l</a></li>
        <li><a class="option" (click)="processByOption('one')">Track</a></li>
        <li><a class="option" (click)="processByOption('favorites')">Favorites</a></li>
        <li (click)="processByOption('filter')">Filter<span class="glyphicon glyphicon-filter"></span></li>
      </ul>
    </div>
  </div>

  <div class="row search" [hidden]="!openScheduleList">
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-search" id="search"></span>
    </div>
    <div class="col-xs-10">
      <input type="text" class="form-control"
              name="queryText"
              [(ngModel)]="queryText"
              (ngModelChange)="upDateFilter()" placeholder="search">
    </div>
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-remove" id="remove"
            (click)="clearQueryText()" ></span>
    </div>
  </div>
</nav>

<div class="container-fluid" id="body"
      [hidden]="schedule.length === 0 || !openScheduleList">
  <ul *ngFor="let daily of schedule">
    <ul *ngFor="let group of daily.groups" [hidden]="group.count === 0">
      <div class="group-header">
        {{ daily.date }} : {{ group.partOfDay }}
      </div>
      <ul *ngFor="let session of group.sessions" [hidden]="session.hide">
        <li class="item-group">
          <p (click)="openSession(session.id)">{{ session.name }}</p>
          <p>
              {{session.timeStart}} &mdash; {{session.timeEnd}}: {{session.location}}
          </p>
        </li>
      </ul>
    </ul>
  </ul>
</div>

<div class="fab-group" [hidden]="!openScheduleList">
  <div class="container-1">
    <div class="fabs-1" *ngIf="activeFabs1">
      <button (click)="openPeriod=true">New</button>
      <p>{{ dateFrom }}</p>
      <p>{{ dateTo }}</p>
    </div>
    <a class="btn button-0 bg-primary" *ngIf="!activeFabs1" (click)="activeFabs1=true">Period</a>
    <a class="btn button-0 bg-primary" *ngIf="activeFabs1" (click)="activeFabs1=false">X</a>
  </div>

  <div class="container-2"  > 
    <div class="fabs-2" *ngIf="activeFabs2">
      <a href="#" class="btn button-1"><i class="fab fa-google-plus-g"></i></a>
      <a href="#" class="btn button-2"><i class="fab fa-twitter"></i></a>
      <a href="#" class="btn button-3"><i class="fab fa-facebook-f"></i></a>
    </div>
    <a class="btn button-0 bg-primary" (click)="activeFabs2=!activeFabs2"><i class="fas fa-share-alt"></i></a>
  </div>  
</div>

<app-period *ngIf="openPeriod"
            (submitPeriod)="getNewPeriod($event)"
            (exitPeriod)="closePeriod()"
            [dateFrom]="dateFrom"
            [dateTo]="dateTo"></app-period>

<app-select-track *ngIf="openSelectTrack"
            (submitTrack)="getOneTrack($event)"
            (exitSelectTrack)="closeSelectTrack()"></app-select-track>

<app-reset-filter *ngIf="openResetFilter"
            (submitResetFilter)="resetFilter($event)"
            (exitResetFilter)="closeResetFilter()"></app-reset-filter>

<app-tabs [selected]="'schedule'"></app-tabs>

<router-outlet></router-outlet>
