<div class="container-fluid header">
   <p class="btn-skip"><span (click)="startApp()">Skip</span></p>
</div>
  
<div class="container"
    (touchstart)="onSwipe($event, 'start')"
    (touchend)="onSwipe($event, 'end')">
  <div *ngIf="curr_page === 1">
    <img src="assets/img/web-dev.jpg" class="slide-image" />
    <h2 class="slide-title">Welcome to<b>ICA</b></h2>
    <p>
      The
      <b>Angular conference app</b> is a practical preview of the Angular framework in action, and a demonstration of proper code
      use.
    </p>
    <div>
      <p class="arrow-right" (click)="moveSlider(1)"><span class="glyphicon glyphicon-chevron-right"></span></p>
    </div>
  </div>

  <div *ngIf="curr_page === 2">
    <img src="assets/img/ng-robot.jpeg" class="slide-image" />
    <h2 class="slide-title">What is Angular?</h2>
    <p>
      <b>Angular Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies
      like HTML, CSS, and JavaScript.
    </p>
    <div class="arrow-both">
      <p class="arrow-back" (click)="moveSlider(-1)"><span class="glyphicon glyphicon-chevron-left"></span></p>
      <p class="arrow-forward" (click)="moveSlider(1)"><span class="glyphicon glyphicon-chevron-right"></span></p>
    </div>
  </div>  

  <div *ngIf="curr_page === 3">
    <img src="assets/img/ng-notebook.jpeg" class="slide-image" />
    <h2 class="slide-title">What is Angular?</h2>
    <p>
      <b>Angular</b> is a powerful set of services and features built on top of Angular Framework that brings a totally new
      level of app development agility to mobile dev teams.</p>
    <div class="arrow-both">
      <p class="arrow-back" (click)="moveSlider(-1)"><span class="glyphicon glyphicon-chevron-left"></span></p>
      <p class="arrow-forward" (click)="moveSlider(1)"><span class="glyphicon glyphicon-chevron-right"></span></p>
    </div>
  </div>    

  <div *ngIf="curr_page === 4">
    <img src="assets/img/ng-graduation.jpeg" class="slide-image" />
    <h2 class="slide-title">Ready to Play?</h2>
    <p (click)="startApp()">
      Continue &nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>
    </p>
    <p class="arrow-left" (click)="moveSlider(-1)"><span class="glyphicon glyphicon-chevron-left"></span></p>
  </div>
</div>
  