<nav class="navbar navbar-inverse fixed-top">
  <div class="container-fluid bg-primary">
    <h4 class="dropdown"><span class="dropdown-toggle glyphicon glyphicon-menu-hamburger"
        data-toggle="dropdown"></span> &nbsp;Tracks
      <ul class="dropdown-menu">
        <app-setup-menu></app-setup-menu>
      </ul>
    </h4>
    <p><a (click)="onEditTrack('New')">Add New</a></p>
  </div>

  <div class="row search">
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-search" id="search"></span>
    </div>
    <div class="col-xs-10">
      <input type="text" class="form-control" name="queryText"
              [(ngModel)]="queryText" placeholder="search">
    </div>
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-remove" id="remove"
            (click)="queryText=''" ></span>
    </div>
  </div>
</nav>

<div class="container-fluid" id="body" *ngIf="tracks">
  <ul *ngFor="let track of tracks">
    <li *ngIf="track.name.toLowerCase().includes(queryText.toLowerCase())">
      <p id="name">{{ track.name }}</p>
      <p id="trash" (click)="onRemoveTrack(track)">
        <i class="fas fa-trash"></i>
      </p>
      <p id="edit" (click)="onEditTrack(track)">EDIT</p>
    </li>
  </ul>
</div>

<app-change-info *ngIf="onChange"
                (submitResult)="onSubmitResult($event)"
                [description]="description"
                [title]="title"
                [currentName]="currentName"
                [isNew]="isNew"
                [errMessage]="errMessage">
</app-change-info>

<app-confirm *ngIf="activateConfirm"
            (confirm)="getConfirm($event)"
            [confirmMessage]="confirmMessage"
            [confirmTitle]="confirmTitle">
</app-confirm>

<app-setup-tabs [selected]="'tracks'"></app-setup-tabs>
