<nav class="navbar navbar-inverse fixed-top" [hidden]="showDetail">
  <div class="container-fluid bg-primary">
    <h4 class="dropdown"><span class="dropdown-toggle glyphicon glyphicon-menu-hamburger"
        data-toggle="dropdown"></span> &nbsp;Speakers
      <ul class="dropdown-menu">
        <app-menu></app-menu>
      </ul>
    </h4>
  </div>

  <div class="row search">
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-search" id="search"></span>
    </div>
    <div class="col-xs-10">
      <input type="text" class="form-control" name="queryText"
              [(ngModel)]="queryText" placeholder="search">
    </div>
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-remove" id="remove"
            (click)="queryText=''" ></span>
    </div>
  </div>
</nav>

<div class="container-fluid" id="body"
      [hidden]="speakers.length === 0 || showDetail">
  <ul *ngFor="let speaker of speakers">
    <div class="container info-box" 
        [hidden]="!speaker.name.toLowerCase().includes(queryText.toLowerCase())">
      <div class="speaker-header">
        <img [src]="speaker.profilePic"
              alt="Speaker's Avatar"
              (click)="openDetail(speaker)">
        <p (click)="openDetail(speaker)">{{ speaker.name }}</p>
      </div>
      <div class="sessions">
        <ul *ngFor="let session of speaker.sessions">
          <li (click)="openSession(session.id)">{{ session.name }}</li>
        </ul>
      </div>
      <div class="speaker-footer">
        <p (click)="openDetail(speaker)">{{ speaker.about }}</p>
        <div class="footer-icons">
          <a [href]="'https://twitter.com/' + speaker.twitter" target="_blank">
            <i class="fab fa-twitter"></i>TWEET
          </a>
          <a href=""><i class="fas fa-share-square"></i>SHARE</a>
          <a href=""><i class="fas fa-folder-open"></i>CONTACT</a>
        </div>
      </div>
    </div>
  </ul>
</div>

<app-speaker-detail *ngIf="showDetail"
      [speaker]="speaker"
      (closeDetail)="showDetail=false"></app-speaker-detail>

<app-tabs [selected]="'speakers'"></app-tabs>

<router-outlet></router-outlet>