<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid bg-primary">
    <div class="row options">
      <div class="col-xs-2 text-center">
          <p><span class="glyphicon glyphicon-list-alt" routerLink="/setup/sessions"
                   [ngStyle]="{ color: selected==='sessions' ? selectedColor : 'white' }"></span>
          </p>
          <a  [ngStyle]="{ color: selected==='sessions' ? selectedColor : 'white' }"
              routerLink="/setup/sessions">Session</a>
      </div>

      <div class="col-xs-2 text-center">
          <p><span class="glyphicon glyphicon-user" routerLink="/setup/speakers"
                   [ngStyle]="{ color: selected==='speakers' ? selectedColor : 'white' }"></span>
          </p>
          <a  [ngStyle]="{ color: selected==='speakers' ? selectedColor : 'white' }"
              routerLink="/setup/speakers">Speaker</a>
      </div>

      <div class="col-xs-2 text-center">
        <p><span class="glyphicon glyphicon-tags" routerLink="/setup/tracks"
                 [ngStyle]="{ color: selected==='tracks' ? selectedColor : 'white' }"></span>
        </p>
        <a  [ngStyle]="{ color: selected==='tracks' ? selectedColor : 'white' }"
            routerLink="/setup/tracks">Tracks</a>
      </div>

      <div class="col-xs-2 text-center">
        <p><span class="glyphicon glyphicon-hourglass" routerLink="/setup/partOfDay"
                 [ngStyle]="{ color: selected==='partOfDay' ? selectedColor : 'white' }"></span>
        </p>
        <a  [ngStyle]="{ color: selected==='partOfDay' ? selectedColor : 'white' }"
            routerLink="/setup/partOfDay">P.O.D</a>
      </div>

      <div class="col-xs-2 text-center">
        <p><span class="glyphicon glyphicon-pushpin" routerLink="/setup/locations"
            [ngStyle]="{ color: selected==='locations' ? selectedColor : 'white' }"></span>
        </p>
        <a  [ngStyle]="{ color: selected==='locations' ? selectedColor : 'white' }"
            routerLink="/setup/locations">Location</a>
      </div>

      <div class="col-xs-2 text-center">
          <p><span class="glyphicon glyphicon-envelope" 
                   [ngStyle]="{ color: selected==='support' ? selectedColor : 'white' }"
                   routerLink="/setup/support"></span>
          </p>
          <a  [ngStyle]="{ color: selected==='support' ? selectedColor : 'white' }"
              routerLink="/setup/support">Support</a>
      </div>
    </div>
  </div>
</nav>
